
# Overview 

## Introduction 

- SQLAlchemy is a library providing API to perform Object Relational Mapping (ORM) in an easy and powerful way 

| Programming Language | DB | 
| --- | --- | 
| Class | Table | 
| Instance | Row | 

## Advantages 

- Decouple business logic, centered around the objects defined by the programmer, and storage logic, focused on schemas and transactions
- Reduce business logic complexity 

## Main Elements 

- Engine: manages actual backend specific storage (file, memory, â€¦) and search mechanisms
- Session: manages the interaction with the engine abstracting away the transactions model

In [1]:
import sqlalchemy
sqlalchemy.__version__

'1.2.17'

In [0]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

from sqlalchemy.orm import sessionmaker


# Engine Construction 

- It manages the Backend Storage

In [0]:

#engine = create_engine('sqlite:///:memory:', echo=True)
engine = create_engine('sqlite:////tmp/test.db', echo=True)


# Session Construction 

- It manages the Connection with the Engine

In [0]:
Session = sessionmaker(bind=engine)

In [0]:
session = Session()


# Objects Definition 

- It creates some Objects Structure, performs Instantation and then Sends to Engine

In [0]:
Base = declarative_base()

In [0]:
class User(Base):
  __tablename__ = 'users'

  id = Column(Integer, primary_key=True)
  name = Column(String)
  fullname = Column(String)
  nickname = Column(String)

  def __repr__(self):
    return "<User(name='%s', fullname='%s', nickname='%s')>" % (self.name, self.fullname, self.nickname)

In [8]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('nickname', String(), table=<users>), schema=None)

In [9]:
Base.metadata.create_all(engine)

2019-02-12 14:26:03,031 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-02-12 14:26:03,032 INFO sqlalchemy.engine.base.Engine ()
2019-02-12 14:26:03,037 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-02-12 14:26:03,039 INFO sqlalchemy.engine.base.Engine ()
2019-02-12 14:26:03,042 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-02-12 14:26:03,043 INFO sqlalchemy.engine.base.Engine ()


# Creating an Instance

In [0]:
#test_user = User(name='Test', fullname='This is a test', nickname='test1')


# Storage Test

- It works by adding elements to a command queue and a commit then flushes them

In [0]:
session.add(User(name='Test1', fullname='This is a test1', nickname='test1'))
session.add(User(name='Test3', fullname='This is a test3', nickname='test3'))

In [12]:
session.commit()

2019-02-12 14:26:03,183 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-02-12 14:26:03,187 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2019-02-12 14:26:03,188 INFO sqlalchemy.engine.base.Engine ('Test1', 'This is a test1', 'test1')
2019-02-12 14:26:03,191 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, nickname) VALUES (?, ?, ?)
2019-02-12 14:26:03,193 INFO sqlalchemy.engine.base.Engine ('Test3', 'This is a test3', 'test3')
2019-02-12 14:26:03,197 INFO sqlalchemy.engine.base.Engine COMMIT


# Query Test


## Existing Element

In [13]:
query_result1 = session.query(User).filter_by(name='Test1').first()

2019-02-12 14:26:03,221 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-02-12 14:26:03,224 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2019-02-12 14:26:03,226 INFO sqlalchemy.engine.base.Engine ('Test1', 1, 0)

In [14]:
# NOTE: Its representing is what was defined in __repr__() method 
query_result1


## Empty Result

In [15]:
query_result2 = session.query(User).filter_by(name='Test2').first()

2019-02-12 14:26:03,261 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2019-02-12 14:26:03,262 INFO sqlalchemy.engine.base.Engine ('Test2', 1, 0)

In [0]:
query_result2